@import "_lib";

header {
    align-content: center;
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: space-between;
    width: 100%;

    nav {
        bottom: 8px;
        position: relative;
    }
}

.play-nav {
    span {
        font-size: 22px;
        padding: 0 10px;
    }
}

.bubble {
    background-position: center center;
    background-size: auto 50px;
    border-radius: 50%;
    display: block;
    height: 50px;
    overflow: hidden;
    width: 50px;
}

.chapter {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    justify-content: flex-start;
}

.row-main {
    box-shadow: 0 0 0 1px $light-gray;
    height: 60%;
    justify-content: center;
    margin: 0 auto;

    .sidebar {
        background: rgba(255, 255, 255, .7);
        border-radius: 2px;
        overflow: hidden;
        padding: 20px;
        max-width: 450px;
    }

    .key-image {
        border-radius: 0 2px 2px 0;
        height: 100%;
    }
}

.image-strip {
    background: rgba(30, 30, 30, .7);
    bottom: 0;
    height: unquote('calc(35% - 75px)');
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 200%;  // Images don't load unless drawn somewhere.

    .image-reel {
        @include transform(translateX(50%));
        -moz-transition: -moz-transform 300s;
        -webkit-transition: -webkit-transform 300s;
        height: 100%;

        &.ripcord {
            @include transform(translateX(-1000%));
        }
        img {
            border-radius: 0;
            max-height: 100%;
        }
    }
}