@charset "US-ASCII";
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
    @include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 100%/1.65 Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", "Hiragino Sans GB", "STXihei", "微软雅黑", serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera {
  font-size: 72px;
  font-size: 4.5rem;
  margin-bottom: 0.36667rem; }

.giga {
  font-size: 60px;
  font-size: 3.75rem;
  margin-bottom: 0.44rem; }

.mega {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 0.55rem; }

.alpha, h1 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0.73333rem; }

.beta, h2 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 1.1rem; }

.gamma, h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 1.25714rem; }

.delta, h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.46667rem; }

.epsilon, h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.46667rem; }

.zeta, h6 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.46667rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

p + p {
  text-indent: 1.5em;
  margin-top: -1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre;
  font-size: 14px; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
    <abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005454; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
    <dl class="lining">
        <dt><b></b></dt>
        <dd></dd>
    </dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
    <dl class="dictionary-style">
        <dt><b></b></dt>
            <dd></dd>
    </dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
        <figure>
            <blockquote cite="">
                <p></p>
            </blockquote>
            <figcaption>
                <cite>
                    <small><a href=""></a></small>
                </cite>
            </figcaption>
        </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
    <aside class="pull-quote">
        <blockquote>
            <p></p>
        </blockquote>
    </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
    <figure>
        <figcaption>
            <strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
        </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
    <article>
        <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
        <footer>
            <ol class="foot-notes">
                <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
            </ol>
        </footer>
    </article>
 *
 * Extend this object into your markup.
 *
 */
html, body {
  height: 100%;
  font-family: Ubuntu;
  margin: 0;
  overflow: hidden;
  width: 100%; }

.main {
  -moz-box-shadow: 0 1px 2px #e1e1dc;
  -webkit-box-shadow: 0 1px 2px #e1e1dc;
  box-shadow: 0 1px 2px #e1e1dc;
  background: url("/img/textures/main-bg.png") repeat scroll 0 0 transparent;
  border-radius: 3px;
  height: 100%;
  margin: 0 auto;
  max-height: 100%;
  overflow: hidden;
  padding: 10px 2.5% 0;
  width: 95%; }

p {
  margin-bottom: 26px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Indie Flower', cursive;
  font-weight: 500; }

img {
  border-radius: 2px; }

a {
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #004545;
  text-decoration: none; }
  a:hover, a:not([href]) {
    cursor: pointer;
    color: #2aaaaa; }

p a,
span a,
li a {
  color: #2aaaaa; }

p {
  margin-bottom: 26px; }

.c:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.c {
  display: inline-block; }

html[xmlns] .c {
  display: block; }

* html .c {
  height: 1%; }
