@import "_lib";
@import "_typeplate";


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.main {
    @include box-shadow(0 1px 2px $light-gray);
    background: url("/img/textures/main-bg.png") repeat scroll 0 0 transparent;
    border-radius: 3px;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    overflow: hidden;
    padding: 10px 2.5% 0;
    width: 95%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

img {
    border-radius: 2px;
}

a {
    @include transition(color .2s);
    color: $link-color;
    text-decoration: none;

    &:hover, &:not([href]) {
        cursor: pointer;
        color: $link-color-hover;
    }
}

p a,
span a,
li a, {
    color: $link-color-hover;
}

p {
    margin-bottom: 26px;
}

.c:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.c {
    display: inline-block;
}
html[xmlns] .c {
    display: block;
}
* html .c {
    height: 1%;
}
