{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}
  {% for chapter in site.categories.chapter|sort(attribute='chapter') %}
    <section class="chapter" data-chapter="{{ chapter.chapter }}">
      <h1>{{ chapter.title }}</h1>
      <img class="key-image" src="{{ chapter.image }}">
      <p class="blurb">{{ chapter.content }}</p>
      <div class="image-reel" data-images="{{ chapter.images }}"></div>
      <audio src="{{ chapter.song }}">
    </section>
  {% endfor %}
{% endblock %}
