<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:fb="http://ogp.me/ns/fb#"
      xml:lang="en" lang="en">
  <head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/adelheid.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/lib/ubuntu.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico?v=1">
    <meta name="viewport" content="width=device-width">
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    {% block overlay %}
    {% endblock %}
    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
